.paginationsButtons {
    margin-top: 10px;
    padding-top: 20px;
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paginationsButtons a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
}
.paginationsButtons a:hover {
    color: white;
    background-color: #2b2eff;
}
.paginationActive a {
    color: white;
    background-color: #2b2eff;
}
.loginPageBackgroundColor {
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
/* overflow-y: hidden; */

}